@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");

.movieList {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  gap: 40px;
  margin: 0px auto;
  padding: 0px 20px;
  max-width: 1280px;
}

.popular {
  font-size: 25px;
  margin-left: 25px;
  margin-bottom: 15px;
}

.popularCast {
  font-size: 25px;
  margin-left: 25px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.loadContainer {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.load {
  padding: 10px;
  font-size: 25px;
  border-radius: 20px;
  background: rgba(255, 199, 59, 0.1);
  color: rgb(60, 60, 60);
}

.load:hover {
  background: rgba(255, 199, 59, 0.6);
}
